/* TITULOS */
/* BOTONES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

body {
  background-color: rgba(245, 242, 242, 0.706); }

/* MIXIN */
/* ----- HEADER ---------- */
.navbar-nav {
  list-style-type: none;
  justify-content: space-between;
  gap: 40px; }
  .navbar-nav .nav-item {
    text-decoration: none;
    padding: 0.1rem; }
    .navbar-nav .nav-item :visited {
      color: #959595; }
    .navbar-nav .nav-item :hover {
      background-color: #dfbdc8;
      transition: 0.6s;
      text-decoration: underline; }
    .navbar-nav .nav-item .nav-link {
      color: black;
      text-decoration: none;
      padding: 0.25rem;
      text-transform: uppercase; }

/* footer */
footer {
  background-color: #fbe6ed;
  text-align: center;
  height: 7em;
  padding: 1.5em; }
  footer div {
    padding: 0.3em; }
  footer div img {
    width: 25px;
    height: 25px; }
  footer div a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 400; }
    footer div a:hover {
      color: black;
      text-decoration: underline; }

/* index */
.gridIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 5em 4em 30em 20em 10em 5em;
  grid-template-areas: "header header header header" " . titulo titulo . "  " .  fondo  fondo  ." "texto1  texto1  texto1  texto1" "texto2  texto2  texto2  texto2" "footer footer footer footer";
  justify-content: center;
  gap: 5px; }

header {
  grid-area: header; }

.tituloIndex {
  grid-area: titulo;
  align-items: center;
  text-transform: uppercase;
  background-color: #fbe6ed;
  margin: 0 auto;
  padding: 0.4rem; }

.fotoIndex {
  grid-area: fondo;
  margin-bottom: 2em;
  width: 800px;
  margin-top: 2em; }

.textoIndex1 {
  grid-area: texto1;
  margin-top: 2em;
  padding: 4em;
  font-size: 23px;
  line-height: 2em; }

.textoIndex2 {
  grid-area: texto2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
  padding: 4em;
  line-height: 2em; }

.textoIndex2 a {
  text-decoration: none;
  font-size: 24px;
  color: black;
  border: dotted 0.4em #fbe6ed;
  text-align: center;
  margin-top: 1em;
  padding: 0.7em; }

/* TABLET */
@media (min-width: 577px) and (max-width: 991px) {
  .gridIndex {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 5em 5em 25em 10em 8em 4em;
    grid-template-areas: "header header" "titulo titulo" "fondo fondo" "texto1  texto1" "texto2  texto2" "footer footer"; }
  .tituloIndex {
    grid-area: titulo;
    text-align: center; }
  .fotoIndex {
    grid-area: fondo;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    margin-top: 2em; }
  .textoIndex1 {
    grid-area: texto1;
    margin-top: 1em;
    font-size: 15px;
    line-height: 1.5em; }
  .textoIndex2 {
    grid-area: texto2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 10px;
    line-height: 3em;
    margin-top: 1em;
    align-items: center; }
    .textoIndex2 p {
      display: none; }
    .textoIndex2 a {
      text-decoration: none;
      font-size: small;
      color: black;
      border: dotted 0.4em #fbe6ed;
      text-align: center;
      padding: 0.1em; }
  .footerIndex {
    grid-area: footer;
    margin-top: 2em;
    height: 7em; } }

/* CELULAR */
@media (min-width: 320px) and (max-width: 576px) {
  .gridIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2em 7em 10em 8em 10em 10em;
    grid-template-areas: "header" "titulo" "fondo" "texto1" "texto2" "footer"; }
  .tituloIndex {
    grid-area: titulo;
    margin-top: 1em;
    margin-bottom: 3em;
    font-size: 20px; }
  .fotoIndex {
    grid-area: fondo;
    width: 80%;
    margin: 0 auto; }
  .textoIndex1 {
    grid-area: texto1;
    margin-top: 8em;
    font-size: 15px;
    line-height: 1em; }
  .textoIndex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10em; }
    .textoIndex2 a {
      font-size: small; }
  .textoIndex2 p {
    display: none; }
  header {
    padding: 1em; }
  .header__navbar ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .header__navbar li {
    margin: 0.3em; }
  .logo {
    width: 6.5em;
    height: 6.5em;
    margin-right: 1em; }
  .footerIndex {
    grid-area: footer;
    display: block;
    margin-top: em; } }

/* adopta */
.h2Adopta {
  color: #d5bdcd;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  padding: 0.3em;
  max-width: fit-content; }

.container {
  text-align: center;
  width: 160em; }
  .container .card {
    margin: 2em; }
    .container .card img {
      padding: 1em; }

.card-body .card-title {
  text-transform: uppercase;
  font-size: 30px;
  color: #f1d4e8; }

.card-body .card-text {
  background-color: #f1d4e8;
  padding: 0.2em; }

.btn-primary {
  background-color: #f1d4e8;
  color: #0b0a0a;
  border-color: #eca9d7;
  text-transform: uppercase;
  font-size: 20px; }
  .btn-primary:hover {
    background-color: #cc87b5;
    border-color: #cac4c4;
    transition: 1.4s; }

.footerAdopta {
  margin-top: 10em; }

/* contacto */
.contactoLink {
  text-align: center; }
  .contactoLink .h2Contacto {
    color: #d5bdcd;
    font-size: 40px;
    text-transform: uppercase;
    background-color: whitesmoke; }
  .contactoLink .contactoBoton {
    background-color: #f1d4e8;
    color: #0b0a0a;
    border-color: #eca9d7;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em; }
    .contactoLink .contactoBoton:hover {
      background-color: #cc87b5;
      border-color: #cac4c4;
      transition: 1.4s; }

.section__contacto {
  margin-bottom: 3em; }
  .section__contacto .h2Contacto {
    color: #d5bdcd;
    font-size: 40px;
    text-transform: uppercase;
    background-color: whitesmoke;
    max-width: fit-content;
    margin: 0 auto;
    padding: 0.4rem; }

.contactoForm {
  display: flex;
  flex-direction: column;
  margin: 2em; }
  .contactoForm .contactoInput {
    height: 3em;
    margin-bottom: 1em; }
  .contactoForm .contactoLabel {
    text-transform: uppercase;
    text-decoration: underline black;
    margin-bottom: 1em; }
  .contactoForm .contactoSelect {
    height: 2em;
    margin-bottom: 1em; }
  .contactoForm .contactoTextarea {
    margin-bottom: 1em; }
  .contactoForm .contactoSubmit {
    width: 10em; }

/* TABLET */
@media (min-width: 577px) and (max-width: 991px) {
  .h2Contacto {
    text-align: center; } }

/* CELULAR */
@media (min-width: 320px) and (max-width: 576px) {
  .h2Contacto {
    text-align: center; } }

/* FORMULARIO */
.h2Formulario {
  color: #d5bdcd;
  font-size: 40px;
  text-transform: uppercase;
  background-color: whitesmoke;
  max-width: fit-content;
  margin: 0 auto;
  padding: 0.4rem; }

.formulario {
  margin: 0 auto;
  margin-top: 3em;
  width: 60em;
  height: 60em; }
  .formulario__label {
    font-size: 18px; }

/* TABLET */
@media (min-width: 577px) and (max-width: 991px) {
  .container {
    width: 650px; }
  .formulario {
    width: 40em; } }

/* CELULAR */
@media (min-width: 320px) and (max-width: 576px) {
  .h2Formulario {
    text-align: center; }
  .container {
    width: 400px; }
  .formulario {
    width: 25em; } }

/* TENENCIA RESPONSABLE */
.imgTenencia {
  width: 16em;
  display: block;
  margin: 0 auto;
  padding: 2em 0 2em 0; }

.accordion {
  width: 80em;
  margin: auto;
  margin-bottom: 2em; }

.accordion-button {
  color: #dd99d9;
  font-size: 25px; }

.accordion-body {
  font-size: 20px; }

/* TABLET */
@media (min-width: 577px) and (max-width: 991px) {
  .imgTenencia {
    width: 12em; }
  .accordion {
    width: 40em; } }

/* CELULAR */
@media (min-width: 320px) and (max-width: 576px) {
  .imgTenencia {
    width: 8em; }
  .accordion {
    width: 25em; } }

/* QUIENES SOMOS */
.h2Quienes {
  color: #d5bdcd;
  font-size: 40px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.3em;
  margin-top: 2em;
  margin-left: 1.3em; }

.p__quienesomos {
  text-align: center;
  width: 80%;
  margin-left: 6.5em; }

.p__quienes {
  padding: 3em;
  text-align: center; }
  .p__quienes--button {
    background-color: #f1d4e8;
    color: #0b0a0a;
    border-color: #eca9d7;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    padding: 0.3em; }
    .p__quienes--button:hover {
      background-color: #cc87b5;
      border-color: #cac4c4;
      transition: 1.4s; }

.carousel {
  margin: auto;
  width: 600px;
  height: 600px; }

.footerQuienes {
  margin-top: 3em; }

/* TABLET */
@media (min-width: 577px) and (max-width: 991px) {
  .h2Quienes {
    margin-top: 1em;
    margin-left: 0; }
  .carousel {
    width: 400px;
    height: 400px; } }

/* CELULAR */
@media (min-width: 320px) and (max-width: 576px) {
  .h2Quienes {
    margin-top: 0;
    margin-left: 0; }
  .p__quienesomos {
    width: 70%;
    margin-left: 4.8em; }
  .carousel {
    margin-top: 2em;
    width: 300px;
    height: 300px; } }
