* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

body {
  background-color: rgba(245, 242, 242, 0.706); }

/* ----- HEADER ---------- */
.navbar-nav {
  list-style-type: none;
  justify-content: space-between;
  gap: 40px; }
  .navbar-nav .nav-item {
    text-decoration: none;
    padding: 0.1rem; }
    .navbar-nav .nav-item :visited {
      color: #959595; }
    .navbar-nav .nav-item :hover {
      background-color: #dfbdc8;
      transition: 0.6s;
      text-decoration: underline; }
    .navbar-nav .nav-item .nav-link {
      color: black;
      text-decoration: none;
      padding: 0.25rem;
      text-transform: uppercase; }

.btn {
  color: #dfbdc8;
  border-color: #dfbdc8; }

/* footer */
footer {
  background-color: #fbe6ed;
  text-align: center;
  height: 6em;
  padding: 2em; }
  footer .div .footer__link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 400; }
    footer .div .footer__link .footer__link:hover {
      color: black;
      text-decoration: underline; }

/* index */
.gridIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 5em 4em 30em 20em 10em 5em;
  grid-template-areas: "header header header header" " . titulo titulo . "  " .  fondo  fondo  ." "texto1  texto1  texto1  texto1" "texto2  texto2  texto2  texto2" "footer footer footer footer";
  justify-content: center;
  gap: 5px; }
  .gridIndex .tituloIndex {
    grid-area: titulo;
    align-items: center;
    text-transform: uppercase;
    background-color: #fbe6ed;
    margin: 0 auto;
    padding: 0.4rem; }
  .gridIndex .fotoIndex {
    grid-area: fondo;
    margin-bottom: 2em;
    width: 800px;
    margin-top: 2em; }
  .gridIndex .textoIndex1 {
    grid-area: texto1;
    margin-top: 2em;
    padding: 4em;
    font-size: 23px;
    line-height: 2em; }
  .gridIndex .textoIndex2 {
    grid-area: texto2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
    padding: 4em;
    line-height: 2em; }
    .gridIndex .textoIndex2 a {
      text-decoration: none;
      font-size: 24px;
      color: black;
      border: dotted 0.4em #fbe6ed;
      text-align: center;
      margin-top: 1em;
      padding: 0.7em; }

header {
  grid-area: header; }

/* TABLET */
@media (min-width: 577px) and (max-width: 991px) {
  .gridIndex {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 5em 5em 10em 7em 5em;
    grid-template-areas: "header header" "titulo titulo" "fondo fondo" "texto1  texto1" "texto2  texto2" "footer footer"; }
  .tituloIndex {
    grid-area: titulo;
    text-align: center; }
  .fotoIndex {
    grid-area: fondo;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    margin-top: 2em; }
  .textoIndex1 {
    grid-area: texto1;
    margin-top: 23em;
    font-size: 15px;
    line-height: 1.5em; }
  .textoIndex2 {
    grid-area: texto2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 10px;
    line-height: 3em;
    margin-top: 43em;
    align-items: center; }
    .textoIndex2 p {
      display: none; }
    .textoIndex2 a {
      text-decoration: none;
      font-size: small;
      color: black;
      border: dotted 0.4em #fbe6ed;
      text-align: center;
      padding: 0.1em; }
  footer {
    grid-area: footer;
    margin-top: 28em;
    height: 9em; } }

/* CELULAR */
@media (min-width: 320px) and (max-width: 576px) {
  .gridIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2em 3em 17em 12em 5em;
    grid-template-areas: "header" "titulo" "fondo" "texto1" "texto2" "footer"; }
  .tituloIndex {
    grid-area: titulo;
    margin-top: 1em;
    font-size: 20px; }
  .fotoIndex {
    grid-area: fondo;
    width: 100%;
    height: 500px;
    margin-top: 1em; }
  .textoIndex1 {
    grid-area: texto1;
    margin-top: 17em;
    font-size: 15px;
    line-height: 1em; }
  .textoIndex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 18em; }
    .textoIndex2 p {
      display: none; }
  header {
    padding: 1em; }
  .footer {
    grid-area: footer;
    display: block;
    margin-top: 22em; } }

/* adopta */
.h2Adopta {
  color: #d5bdcd;
  font-size: 40px;
  text-transform: uppercase;
  padding: 0.3em;
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: fit-content; }

.card-body .card-title {
  text-transform: uppercase;
  font-size: 30px;
  color: #f1d4e8; }

.card-body .card-text {
  background-color: #f1d4e8;
  padding: 0.2em; }

.card-body .btn-primary {
  background-color: whitesmoke;
  text-transform: uppercase;
  font-size: 20px; }
  .card-body .btn-primary :hover {
    background-color: #cac4c4;
    border-color: #cac4c4;
    transition: 1.4s; }

.footerAdopta {
  margin-top: 10em; }

/* contacto */
.h2Contacto {
  background-color: whitesmoke;
  max-width: fit-content;
  margin: 0 auto;
  padding: 0.4rem; }

.contactoLink {
  display: flex;
  flex-direction: column; }
  .contactoLink .a__contacto {
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 1em;
    font-size: 20px;
    text-align: center; }

.section__contacto {
  margin-bottom: 3em; }

.contactoForm {
  display: flex;
  flex-direction: column;
  margin: 5em; }
  .contactoForm .contactoInput {
    height: 3em;
    margin-bottom: 1em; }
  .contactoForm .contactoLabel {
    text-transform: uppercase;
    text-decoration: underline black;
    margin-bottom: 1em; }
  .contactoForm .contactoSelect {
    height: 2em;
    margin-bottom: 1em; }
  .contactoForm .contactoTextarea {
    margin-bottom: 1em; }
  .contactoForm .contactoSubmit {
    width: 10em; }

/* FORMULARIO */
.h2Formulario {
  color: #d5bdcd;
  font-size: 40px;
  text-transform: uppercase;
  padding: 0.3em;
  margin-top: 2em;
  margin-bottom: 2em; }

.formulario {
  margin-top: 3em;
  height: 60em; }
  .formulario__label {
    font-size: 18px; }

/* TENENCIA RESPONSABLE */
.gridTenencia {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: 5em 10em 1em 5em;
  grid-template-areas: "header         header" "foto           foto"  "lista1         lista2" "contenido1 contenido2" "footer         footer";
  justify-items: center;
  height: 50em; }
  .gridTenencia .imgTenencia {
    grid-area: foto;
    justify-content: center;
    text-align: center;
    width: 8em; }
  .gridTenencia .pTenencia1 {
    grid-area: lista1;
    text-align: center;
    padding-top: 1.3em;
    font-size: 2em;
    color: palevioletred;
    text-decoration: underline palevioletred; }
  .gridTenencia .pTenencia2 {
    grid-area: lista2;
    text-align: center;
    padding-top: 1.3em;
    font-size: 2em;
    color: palevioletred;
    text-decoration: underline palevioletred; }
    .gridTenencia .pTenencia2 .listaTenencia1 {
      grid-area: contenido1;
      text-align: center;
      padding-top: 5em;
      line-height: 3em; }
    .gridTenencia .pTenencia2 .listaTenencia2 {
      grid-area: contenido2;
      text-align: center;
      padding-top: 5em;
      line-height: 3em; }

/* QUIENES SOMOS */
.sectionQuienes .h2Quienes {
  color: #d5bdcd;
  font-size: 40px;
  text-transform: uppercase;
  padding: 0.3em;
  margin-top: 2em;
  margin-bottom: 2em; }

.sectionQuienes .p__quienesomos {
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 2em;
  text-align: center; }

.sectionQuienes .gridQuienes {
  height: 35em;
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: 1em 2em 10em 3em 10em;
  grid-template-areas: "titulo titulo titulo titulo" "subtitulo subtitulo subtitulo subtitulo" "img1 img2 img3 img4" "blanco blanco blanco blanco" "img5 img6 img7 img8";
  justify-items: center; }
  .sectionQuienes .gridQuienes .gastos1 {
    grid-area: titulo;
    text-decoration: underline black; }
  .sectionQuienes .gridQuienes .p__quienesomos1 {
    grid-area: subtitulo;
    margin-top: 2em; }
    .sectionQuienes .gridQuienes .p__quienesomos1 .button__quienesomos {
      background-color: whitesmoke;
      border: solid;
      color: black;
      padding: 0.3em;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1.2em; }
  .sectionQuienes .gridQuienes img {
    margin-top: 2em;
    width: 250px;
    padding: 2em;
    align-items: center; }

.img1 {
  grid-area: img1; }

.img2 {
  grid-area: img2; }

.img3 {
  grid-area: img3; }

.img4 {
  grid-area: img4; }

.img5 {
  grid-area: img5; }

.img6 {
  grid-area: img6; }

.img7 {
  grid-area: img7; }

.img8 {
  grid-area: img8; }
