@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(245, 242, 242, 0.706);  
}

/* MIXIN */
@mixin titulo($color, $font-size, $text-transform){
    color: $color;
    font-size: $font-size;
    text-transform: $text-transform;
}

/* ----- HEADER ---------- */

.navbar-nav{
    list-style-type: none;
    justify-content: space-between;
    gap: 40px;  
    .nav-item{
        text-decoration: none;
        padding: 0.1rem;
        :visited{
            color: rgb(149, 149, 149);
        }
        :hover{
            background-color: rgb(223, 189, 200);
            transition: 0.6s;
            text-decoration: underline;
        }
        .nav-link{
            color: black;
            text-decoration: none;
            padding: 0.25rem;
            text-transform: uppercase;
        }
   }
}

.btn{
    color: rgb(223, 189, 200);
    border-color:rgb(223, 189, 200);
}

/* footer */

footer{
    background-color: rgb(251, 230, 237);
    text-align: center;
    height: 6em;
    padding: 2em;
    .div .footer__link {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-weight: 400;
        .footer__link:hover{
            color: black;
            text-decoration: underline;
        }
    }
}

/* index */

.gridIndex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5em 4em 30em 20em 10em 5em;
    grid-template-areas:
        "header header header header"
        " . titulo titulo . " 
        " .  fondo  fondo  ."
        "texto1  texto1  texto1  texto1"
        "texto2  texto2  texto2  texto2"
        "footer footer footer footer";
    justify-content: center;
    gap: 5px;
    .tituloIndex{
        grid-area: titulo;
        align-items: center;
        text-transform: uppercase;
        background-color: rgb(251, 230, 237);
        margin: 0 auto;
        padding: 0.4rem;  
    }
    .fotoIndex{
        grid-area: fondo;
        margin-bottom: 2em;
        width: 800px;
        margin-top: 2em;
    }
    .textoIndex1{
        grid-area: texto1;
        margin-top: 2em;
        padding: 4em;
        font-size: 23px;
        line-height: 2em;
    }
    .textoIndex2{
    grid-area: texto2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
    padding: 4em;
    line-height: 2em;
    & a{
        text-decoration: none;
        font-size: 24px;
        color: black;
        border: dotted 0.4em rgb(251, 230, 237);
        text-align: center;
        margin-top: 1em;
        padding: 0.7em;
    }
    }
}
header{
    grid-area: header;
}

/* TABLET */ 
@media (min-width: 577px) and (max-width: 991px) {
    .gridIndex{
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 5em 5em 10em 7em 5em;
        grid-template-areas: 
            "header header"
            "titulo titulo"
            "fondo fondo"
            "texto1  texto1"
            "texto2  texto2"
            "footer footer";
    }
    .tituloIndex{
        grid-area: titulo;
        text-align: center;
    }
    .fotoIndex{
        grid-area: fondo;
        width: 100%;
        height: 500px;
        margin: 0 auto;
        margin-top: 2em;
    }
    .textoIndex1{
        grid-area: texto1;
        margin-top: 23em;
        font-size: 15px;
        line-height: 1.5em;
    }
    .textoIndex2{
        grid-area: texto2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 10px;
        line-height: 3em;
        margin-top: 43em;
        align-items: center;
        & p{
            display: none;
        }
        & a{
            text-decoration: none;
            font-size: small;
            color: black;
            border: dotted 0.4em rgb(251, 230, 237);
            text-align: center;
            padding: 0.1em;
            
        }
    }
    footer{
        grid-area: footer;
        margin-top: 28em;
        height: 9em;
        
    }
}

/* CELULAR */ 
@media (min-width: 320px) and (max-width: 576px){
    .gridIndex{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2em 3em 17em 12em 5em;
        grid-template-areas: 
            "header"
            "titulo"
            "fondo"
            "texto1"
            "texto2"
            "footer";
    }
    .tituloIndex{
        grid-area: titulo;
        margin-top: 1em;
       font-size: 20px;
    }
    .fotoIndex{
        grid-area: fondo;
        width: 100%;
        height: 500px;
        margin-top: 1em;
    }
    .textoIndex1{
        grid-area: texto1;
        margin-top: 17em;
        font-size: 15px;
        line-height: 1em;
    }
    .textoIndex2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 18em;
        & p{
            display: none;
        }
    }
    header{
        padding: 1em;
    }
    .footer{
        grid-area: footer;
        display: block;
        margin-top: 22em;
    }
}

/* adopta */

.h2Adopta{
    @include titulo($color-h2, $fontsize-h2, uppercase);
    padding: 0.3em;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: fit-content;   
}
.card-body{
    .card-title{
        text-transform: uppercase;
        font-size: 30px;
        color: rgb(241, 212, 232);  
    }
    .card-text{
        background-color: rgb(241, 212, 232);
        padding: 0.2em;
    }
    .btn-primary{
        background-color: whitesmoke;
        text-transform: uppercase;
        font-size: 20px;
        & :hover{
            background-color: rgb(202, 196, 196);
            border-color: rgb(202, 196, 196);
            transition: 1.4s;
        }
    }
}

.footerAdopta{
    margin-top: 10em;
}

/* contacto */
.h2Contacto{
    @include titulo($color-h2, $fontsize-h2, uppercase);
    background-color: whitesmoke;
    max-width: fit-content;
    margin: 0 auto;
    padding: 0.4rem;
}
.contactoLink{
    display: flex;
    flex-direction: column;
    .a__contacto{
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 1em;
        font-size: 20px;
        text-align: center;
    }
}
.section__contacto{
    margin-bottom: 3em;
}

.contactoForm{
    display: flex;
    flex-direction: column;
    margin: 5em; 
    .contactoInput{
        height: 3em;
        margin-bottom: 1em;
    }
    .contactoLabel{
        text-transform: uppercase;
        text-decoration: underline black;
        margin-bottom: 1em;
    }
    .contactoSelect{
        height: 2em;
        margin-bottom: 1em;
    }
    .contactoTextarea{
        margin-bottom: 1em;
    }
    .contactoSubmit{
        width: 10em;
        
    }
}

/* FORMULARIO */

.h2Formulario{
    @include titulo($color-h2, $fontsize-h2, uppercase);
    padding: 0.3em;
    margin-top: 2em;
    margin-bottom: 2em;
    
}
.formulario{
    margin-top: 3em;
    height: 60em;
    &__label{
        font-size: 18px;
    }
}

/* TENENCIA RESPONSABLE */

.gridTenencia{
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: 5em 10em 1em 5em;
    grid-template-areas:
        "header         header"
        "foto           foto" 
        "lista1         lista2"
        "contenido1 contenido2"
        "footer         footer";
    justify-items: center;
    height: 50em;
    .imgTenencia{
        grid-area: foto;
        justify-content: center;
        text-align: center;
        width: 8em;
    }
    .pTenencia1{
        grid-area: lista1;
        text-align: center;
        padding-top: 1.3em;
        font-size: 2em;
        color: palevioletred;
        text-decoration: underline palevioletred;
    }
    .pTenencia2{
        grid-area: lista2;
        text-align: center;
        padding-top: 1.3em;
        font-size: 2em;
        color: palevioletred;
        text-decoration: underline palevioletred;
        .listaTenencia1{
            grid-area: contenido1;
            text-align: center;
            padding-top: 5em;
            line-height: 3em;
        }
        .listaTenencia2{
            grid-area: contenido2;
            text-align: center;
            padding-top: 5em;
            line-height: 3em;
        }
    }
}

/* QUIENES SOMOS */

.h2Quienes{
    @include titulo($color-h2, $fontsize-h2, uppercase);
    padding: 0.3em;
    margin-top: 2em;
    }
.p__quienes{
        padding: 3em;
        text-align: center;
        &--buton{
            color: $color-btn;
            border: solid $border-btn;
            padding: 0.3em;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1.2em;
        }
    }

.footerQuienes{
    margin-top: 3em;
}

