@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(245, 242, 242, 0.706);  
}

/* MIXIN */
@mixin titulo($color, $font-size, $text-transform){
    color: $color;
    font-size: $font-size;
    text-transform: $text-transform;
}

@mixin boton($background-color, $color, $border-color){
    background-color: $background-btn;
    color: $color-btn;
    border-color: $border-btn;
}
    

/* ----- HEADER ---------- */

.navbar-nav{
    list-style-type: none;
    justify-content: space-between;
    gap: 40px;  
    .nav-item{
        text-decoration: none;
        padding: 0.1rem;
        :visited{
            color: rgb(149, 149, 149);
        }
        :hover{
            background-color: rgb(223, 189, 200);
            transition: 0.6s;
            text-decoration: underline;
        }
        .nav-link{
            color: black;
            text-decoration: none;
            padding: 0.25rem;
            text-transform: uppercase;
        }
   }
}

/* footer */

footer{
    background-color: rgb(251, 230, 237);
    text-align: center;
    height: 7em;
    padding: 1.5em;
    div{
        padding: 0.3em;
    }
    div img{
        width: 25px;
        height: 25px;
    }
    div a{
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-weight: 400;
        &:hover{
            color: black;
            text-decoration: underline;
        }
    }
}

/* index */


.gridIndex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5em 4em 30em 20em 10em 5em;
    grid-template-areas:
        "header header header header"
        " . titulo titulo . " 
        " .  fondo  fondo  ."
        "texto1  texto1  texto1  texto1"
        "texto2  texto2  texto2  texto2"
        "footer footer footer footer";
    justify-content: center;
    gap: 5px;
}
header{
    grid-area: header;
}
.tituloIndex{
    grid-area: titulo;
    align-items: center;
    text-transform: uppercase;
    background-color: rgb(251, 230, 237);
    margin: 0 auto;
    padding: 0.4rem;  
}

.fotoIndex{
    grid-area: fondo;
    margin-bottom: 2em;
    width: 800px;
    margin-top: 2em;
}
.textoIndex1{
    grid-area: texto1;
    margin-top: 2em;
    padding: 4em;
    font-size: 23px;
    line-height: 2em;
}
.textoIndex2{
    grid-area: texto2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
    padding: 4em;
    line-height: 2em;
}

.textoIndex2 a{
    text-decoration: none;
    font-size: 24px;
    color: black;
    border: dotted 0.4em rgb(251, 230, 237);
    text-align: center;
    margin-top: 1em;
    padding: 0.7em;
}


/* TABLET */ 
@media (min-width: 577px) and (max-width: 991px) {
    .gridIndex{
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 5em 5em 25em 10em 8em 4em;
        grid-template-areas: 
            "header header"
            "titulo titulo"
            "fondo fondo"
            "texto1  texto1"
            "texto2  texto2"
            "footer footer";
    }
    .tituloIndex{
        grid-area: titulo;
        text-align: center;
    }
    .fotoIndex{
        grid-area: fondo;
        width: 80%;
        height: 400px;
        margin: 0 auto;
        margin-top: 2em;
    }
    .textoIndex1{
        grid-area: texto1;
        margin-top: 1em;
        font-size: 15px;
        line-height: 1.5em;
    }
    .textoIndex2{
        grid-area: texto2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 10px;
        line-height: 3em;
        margin-top: 1em;
        align-items: center;
        & p{
           display: none; 
        }
        & a{
            text-decoration: none;
            font-size: small;
            color: black;
            border: dotted 0.4em rgb(251, 230, 237);
            text-align: center;
            padding: 0.1em;
        }
        
    }
    .footerIndex{
        grid-area: footer;
        margin-top: 2em;
        height: 7em;
    }
}
/* CELULAR */ 
@media (min-width: 320px) and (max-width: 576px){
    .gridIndex{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2em 7em 10em 8em 10em 10em;
        grid-template-areas: 
            "header"
            "titulo"
            "fondo"
            "texto1"
            "texto2"
            "footer";
    }
    .tituloIndex{
        grid-area: titulo;
        margin-top: 1em;
        margin-bottom: 3em;
       font-size: 20px;
    }
    .fotoIndex{
        grid-area: fondo;
        width: 80%;
        margin: 0 auto;
    }
    .textoIndex1{
        grid-area: texto1;
        margin-top: 8em;
        font-size: 15px;
        line-height: 1em;
    }
    .textoIndex2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10em;     
        & a{
            font-size: small;
        }   
    }
    .textoIndex2 p{
        display: none;
    }
    header{
        padding: 1em;
    }
    .header__navbar ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .header__navbar li{
        margin: 0.3em;
    }
    .logo{
        width: 6.5em;
        height: 6.5em;
        margin-right: 1em;
    }
    .footerIndex{
        grid-area: footer;
        display: block;
        margin-top: em;
    }
}


/* adopta */

.h2Adopta{
    @include titulo($color-h2, $fontsize-h2, uppercase);
    text-align: center;
    padding: 0.3em;
    max-width: fit-content;   
}
.container{
   text-align: center;
    width: 160em;
    .card{
    margin: 2em;
        & img{
            padding: 1em;
        }
    }

}
.card-body{
    .card-title{
        text-transform: uppercase;
        font-size: 30px;
        color: rgb(241, 212, 232);  
        }
    .card-text{
        background-color: rgb(241, 212, 232);
        padding: 0.2em;
        }
}
.btn-primary{
        @include boton($background-btn, $color-btn, $border-btn);
        text-transform: uppercase;
        font-size: 20px;
        &:hover{
            background-color: rgb(204, 135, 181);
            border-color: rgb(202, 196, 196);
            transition: 1.4s;
            }
        }
 
.footerAdopta{
    margin-top: 10em;
}

/* contacto */
.contactoLink{
    text-align: center;
    .h2Contacto{
        @include titulo($color-h2, $fontsize-h2, uppercase);
        background-color: whitesmoke;
        }
    .contactoBoton{
        @include boton($background-btn, $color-btn, $border-btn);
        text-decoration: none;
        text-transform: uppercase;
        padding: 1em;
        &:hover{
            background-color: rgb(204, 135, 181);
            border-color: rgb(202, 196, 196);
            transition: 1.4s;
            }
        }
    }
   

.section__contacto{
    margin-bottom: 3em;
    .h2Contacto{
        @include titulo($color-h2, $fontsize-h2, uppercase);
        background-color: whitesmoke;
        max-width: fit-content;
        margin: 0 auto;
        padding: 0.4rem;
        }
}

.contactoForm{
    display: flex;
    flex-direction: column;
    margin: 2em; 
    .contactoInput{
        height: 3em;
        margin-bottom: 1em;
    }
    .contactoLabel{
        text-transform: uppercase;
        text-decoration: underline black;
        margin-bottom: 1em;
    }
    .contactoSelect{
        height: 2em;
        margin-bottom: 1em;
    }
    .contactoTextarea{
        margin-bottom: 1em;
    }
    .contactoSubmit{
        width: 10em;
        
    }
}
/* TABLET */ 
@media (min-width: 577px) and (max-width: 991px){
    .h2Contacto{
        text-align: center;
    }
}
/* CELULAR */ 
@media (min-width: 320px) and (max-width: 576px){
    .h2Contacto{
        text-align: center;
    }
}

/* FORMULARIO */

.h2Formulario{
    @include titulo($color-h2, $fontsize-h2, uppercase);
    background-color: whitesmoke;
    max-width: fit-content;
    margin: 0 auto;
    padding: 0.4rem;
}
.formulario{
    margin: 0 auto;
    margin-top: 3em;
    width: 60em;
    height: 60em;
    &__label{
        font-size: 18px;
    }
}

/* TABLET */ 
@media (min-width: 577px) and (max-width: 991px){
    .container{
        width: 650px;
    }
    .formulario{
        width: 40em;
    }
}
/* CELULAR */ 
@media (min-width: 320px) and (max-width: 576px){
    .h2Formulario{
        text-align: center;
    }
    .container{
        width: 400px;
    }
    .formulario{
        width: 25em;
    }
}


/* TENENCIA RESPONSABLE */

.imgTenencia{
    width: 16em;
    display: block;
    margin: 0 auto;
    padding: 2em 0 2em 0;
}
.accordion{
    width: 80em;
    margin: auto;
    margin-bottom: 2em;
}
.accordion-button{
   color: rgb(221, 153, 217);
   font-size: 25px;
}
.accordion-body{
    font-size: 20px;
}

/* TABLET */ 
@media (min-width: 577px) and (max-width: 991px){
    .imgTenencia{
        width: 12em;
    }
    .accordion{
        width: 40em;
    }
}
/* CELULAR */ 
@media (min-width: 320px) and (max-width: 576px){
    .imgTenencia{
        width: 8em;
    }
    .accordion{
        width: 25em;
    }
}


/* QUIENES SOMOS */

.h2Quienes{
    @include titulo($color-h2, $fontsize-h2, uppercase);
    display: inline-block;
    text-align: center;
    padding: 0.3em;
    margin-top: 2em;
    margin-left: 1.3em;
    }
.p__quienesomos{
    text-align: center;
    width: 80%;
    margin-left: 6.5em;
}
.p__quienes{
        padding: 3em;
        text-align: center;
        &--button{
            @include boton($background-btn, $color-btn, $border-btn);
            text-transform: uppercase;
            font-size: 20px;
            border-radius: 10px;
            text-align: center;
            display: inline-block;
            padding: 0.3em;
            &:hover{
            background-color: rgb(204, 135, 181);
            border-color: rgb(202, 196, 196);
            transition: 1.4s;
            }
        }
    }
    .carousel{
        margin: auto;
        width: 600px;
        height: 600px;
    }
.footerQuienes{
    margin-top: 3em;
}

/* TABLET */ 
@media (min-width: 577px) and (max-width: 991px){
    .h2Quienes{
        margin-top: 1em;
        margin-left: 0;
    }
    .carousel{
        width: 400px;
        height: 400px;
    }
}
/* CELULAR */ 
@media (min-width: 320px) and (max-width: 576px){
    .h2Quienes{
        margin-top: 0;
        margin-left: 0;
    }
    .p__quienesomos{
        width: 70%;
        margin-left: 4.8em;
    }
    .carousel{
        margin-top: 2em;
        width: 300px;
        height: 300px;
    }
}


